.s1{
    color: red;
}
.s2{
    color: green;
}
.s3{
    color: red;
}
#s4{
    color: black;
}
#s5{
    color: black;
}
s1,s2,s3,s4,s5{
    font-style: normal ;
}
table{
    width: 400; 
    margin-top: 20px;
}
#c1{
    background-color: black;
    color: white;
}
#c2{
    background-color: black;
    color: white;
}
#c3{
    background-color: black;
    color: white;
}